.imgContainer {
  position: relative;
  min-height: 1px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.centerPosition {
  margin-right: auto;
  margin-left: auto;
}

.leftPosition {
  float: left;
}

.rightPosition {
  float: right;
}

@media (max-width: 768px) {
  .rightPosition,
  .leftPosition {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}

.imgWrapper {
  position: relative;
  display: block;
  width: 100%;
}
