.sliderContainer {
  position: absolute;
  display: block;
  width: 100%;
  height: 95vh;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  list-style: none;
  cursor: grab;
}

.sliderWrapper {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  cursor: grab;
  list-style: none;
  transition-property: transform;
  box-sizing: content-box;
}

.sliderSlide {
  transform: translate3d(0, 0, 0);
}

.sliderFreeMode {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.sliderList {
  position: relative;
  display: flex;
  width: auto;
  height: 100%;
  padding: 0;
  margin: 0;
  float: left;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  cursor: grab;
  transition-property: transform;
  transition: all 250ms linear;
}

.sliderAnchor {
  margin: 0 100px;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .sliderAnchor {
    margin: 0;
  }
}

@media (max-width: 575px) {
  .sliderAnchor {
    margin: 0 25px;
  }
}

.sliderActive {
  visibility: visible;
}

.sliderTitle {
  position: relative;
  width: 100%;
  padding: 0 5px;
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  transition: all 200ms linear;
}

@media (max-width: 1199px) {
  .sliderTitle {
    font-size: 40px;
    letter-spacing: 1px;
  }
}

@media (max-width: 991px) {
  .sliderTitle {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .sliderTitle {
    font-size: 34px;
  }
}

.sliderTitle::before {
  position: absolute;
  content: '';
  height: 0;
  width: 100%;
  bottom: 0px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  opacity: 0;
  transition: all 200ms linear;
}

.sliderActive .sliderTitle {
  opacity: 1;
}

.sliderActive .sliderTitle::before {
  opacity: 1;
  height: 20px;
}

@media (max-width: 1199px) {
  .sliderActive .sliderTitle::before {
    height: 10px;
  }
}

.sliderNameTitle {
  opacity: 0.6;
  transition: all 200ms linear;
}

.sliderScrollbar {
  position: absolute;
  height: 1px;
  width: 40%;
  background: rgba(255, 255, 255, 0.2);
  left: 30%;
  right: 30%;
  bottom: 35px;
  z-index: 1;
}

@media (max-width: 1199px) {
  .sliderScrollbar {
    bottom: 25px;
  }
}

@media (max-width: 991px) {
  .sliderScrollbar {
    left: 70px;
    right: 70px;
    width: calc(100% - 140px);
  }
}

.sliderScrollbarBtn {
  position: relative;
  width: 19px;
  height: 19px;
  left: 0;
  top: -9px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  border-color: transparent;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  cursor: pointer;
}

.sliderScrollbarBtn:active,
.sliderScrollbarBtn:focus {
  box-shadow: 0 0 0 15px rgb(255 255 255 / 10%);
  cursor: grabbing;
}

.cursorIcon {
  cursor: url('/img/elements/grabbing.png') 28 15, grabbing;
}

.bgContainer {
  position: relative;
  height: 100vh;
}

.bgPage {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
}

.bgList {
  position: absolute;
  width: 100%;
  height: 95%;
  top: 0;
  left: 0;
  list-style: none;
  transition: all 300ms linear;
}

.show {
  visibility: visible;
}

.bgImg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0;
  list-style: none;
  transition: all 300ms linear;
  clip-path: none;
}

.show .bgImg {
  opacity: 0.2;
}

.bgVideo {
  visibility: visible;
}

@media (max-width: 1140px) {
  .bgVideo {
    display: flex;
  }
}

.videoBg {
  width: 100%;
}

.bgTitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #353746;
  background: none;
  font-size: 16vw;
  font-weight: 900;
  text-align: center;
  opacity: 0;
  line-height: 0.8;
  list-style: none;
  transition: all 300ms linear;
  transform: translateY(-30px);
  -webkit-text-fill-color: #353746;
}

.show .bgTitle {
  opacity: 1;
  transform: translateY(0);
}

.bgCurrNum {
  position: absolute;
  display: block;
  width: 40px;
  margin-left: -70px;
  bottom: 70px;
  left: 50%;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  opacity: 0;
  letter-spacing: 2px;
  list-style: none;
  line-height: 1;
  transition: all 300ms linear;
  transform: translateY(100%);
}

.show .bgCurrNum {
  opacity: 1;
  transform: translateY(0);
}

.bgMaxNum {
  position: absolute;
  display: block;
  margin-left: 30px;
  width: 40px;
  bottom: 70px;
  left: 50%;
  color: #fff;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  list-style: none;
  line-height: 1;
}

.bgMaxNum::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  top: 50%;
  left: -60px;
  background-color: rgba(255, 255, 255, 0.6);
}

.drawer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: max-content;
  width: 100vw;
  background-color: transparent;
  opacity: 1;
  z-index: 2;
  transition: transform 250ms linear;
}

.show.drawer {
  transform: translateY(0) !important;
  background-color: rgba(20, 21, 26, 0.6);
}

@media (min-width: 1200px) {
  .drawer:hover {
    transform: translateY(0) !important;
    background-color: rgba(20, 21, 26, 0.6);
  }
}

.drawerBtnContainer {
  display: flex;
  justify-content: center;
  margin: 40px 0 10px;
}

.btnDrawer {
  height: 15px;
  width: 15px;
  left: 50%;
  bottom: 5%;
  background-color: transparent;
  border-top: 2.5px solid rgba(255, 255, 255, 0.4);
  border-left: 2.5px solid rgba(255, 255, 255, 0.4);
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  transition: transform 250ms linear;
  cursor: pointer;
  z-index: 1;
}

.show .btnDrawer {
  transform: rotate(45deg) translate3d(-10px, -10px, 0px);
  border-right: 2.5px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2.5px solid rgba(255, 255, 255, 0.4);
  border-top: 0;
  border-left: 0;
}

@media (min-width: 1200px) {
  .drawer:hover .btnDrawer {
    transform: rotate(45deg) translate3d(-10px, -10px, 0px);
    border-right: 2.5px solid rgba(255, 255, 255, 0.4);
    border-bottom: 2.5px solid rgba(255, 255, 255, 0.4);
    border-top: 0;
    border-left: 0;
  }
}

.optionBtnWrapper {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 767px) {
  .optionBtnWrapper {
    flex-direction: column;
  }
}

.optionBtn {
  position: relative;
  width: fit-content;
  color: #fff;
  opacity: 0.6;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 1;
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  transition: all 300ms linear;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .optionBtn {
    font-size: 40px;
    letter-spacing: 1px;
  }
}

@media (max-width: 991px) {
  .optionBtn {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .optionBtn {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.show.optionBtn,
.optionBtn:hover {
  opacity: 1;
}

.optionBtn::after {
  position: absolute;
  content: '';
  height: 0;
  width: 100%;
  bottom: 0px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  opacity: 0;
  transition: all 200ms linear;
}

.show.optionBtn::after,
.optionBtn:hover::after {
  opacity: 1;
  height: 10px;
}

.landingContainer {
  position: relative;
  display: flex;
  height: 100vh;
  margin: 0;
  padding-top: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.landingContainer .bgImg {
  background-image: url('/img/landing.jpg');
  opacity: 0.2;
}

.landingContainer .bgTitle {
  opacity: 1;
}

.startImg {
  opacity: 0.2;
}

.landingWrapper {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

@media (max-width: 767px) {
  .landingWrapper {
    justify-content: center;
    flex-direction: column-reverse;
  }
}

.startBtn {
  position: relative;
  color: #fff;
  opacity: 0.6;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 1;
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  transition: all 300ms linear;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .startBtn {
    font-size: 40px;
    letter-spacing: 1px;
  }
}

@media (max-width: 991px) {
  .startBtn {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .startBtn {
    font-size: 34px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.startBtn:hover {
  opacity: 1;
}

.startBtn::after {
  position: absolute;
  content: '';
  height: 0;
  width: 100%;
  bottom: 0px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  opacity: 0;
  transition: all 200ms linear;
}

.startBtn:hover::after {
  opacity: 1;
  height: 20px;
}

@media (max-width: 1199px) {
  .startBtn:hover::after {
    height: 10px;
  }
}

.startBtn::before {
  content: '';
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 10%);
  transition: all 300ms linear;
}

.startBtn:hover::before {
  opacity: 0;
  box-shadow: 0px 0px 0px 1000px rgb(0 0 0 / 10%);
}

.hideScreen {
  display: none;
}
