::selection {
  background-color: #000;
}

::-moz-selection {
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #c4c3ca;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
}

a {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
